# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
hw1/computePi
hw1/matrixSum
hw1/matrixSumV2
hw1/matrixSumV3
*/.vscode

*.aux
*.log
*.bib
*.run.xml
*.synctex.gz
*.blg
*.bbl

hw2/hw2-hrabo.zip
hw2/palindromes
hw3/hw3-hrabo.zip
*/.Rhistory
hw3/hw3-hrabo.zip
hw3/uni-bath
hw4/space-refuel-app.zip

*.class
hw5/centralized
hw5/circular
hw5/symmetric
